// Global styles
// These styles are available on all pages.
// If a component has it's own styles, they can be found within the component's respective directory.

@import "breakpoints";
@import "css-variables";
@import "base";
@import "utilities";
@import "blocks";

// * {
//   box-sizing: border-box;
// }

#__next {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}
